@font-face {
    font-family: 'AkzidenzgroteskproL';
    src: url('../fonts//akzidenzgroteskpro_light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "AkzidenzgroteskproLex";
    src: url("../fonts/akzidenzgroteskpro_lightex.ttf") format("truetype");
    font-weight: 300;
    line-height: normal;
}

@font-face {
    font-family: "AkzidenzgroteskproLIT";
    src: url("../fonts/akzidenzgroteskpro_lightit.ttf") format("truetype");
    font-weight: 300;
    line-height: normal;
}
@font-face {
    font-family: "AkzidenzgroteskproReg";
    src: url("../fonts/akzidenzgroteskpro_regular.ttf") format("truetype");
    font-weight: 400;
    line-height: normal;
}

body {
    background-color: #fff;
    margin: 0;
    height: 100vh;    
    overflow-x: hidden;
}

*,
::before,
::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.first {
    background-image: url(../img/bgfirst.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.numbers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
    padding-top: 20px;
    overflow-x: hidden;
}
.flash_1{
    animation: flash_1_a .4s linear infinite;
    animation-delay: 0s;
}

.flash_2{
    animation: flash_2_a .4s linear infinite;
    animation-delay: 1.5s;
}

.flash_3{
    animation: flash_3_a .4s linear infinite;
    animation-delay: 2s;
}

@keyframes flash_1_a {
    0% {
        opacity: 100%;
    }

    50%{
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes flash_2_a {
    0% {
        opacity: 0%;
    }

    50%{
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes flash_3_a {
    0% {
        opacity: 0%;
    }

    50%{
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

.year_item {
    color: #000;
    text-align: center;
    font-family: 'AkzidenzgroteskproLex';
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    transform-style: preserve-3d;
    font-size: 32px;
}

.sc_inner {
    display: flex;
    justify-content: center;
}
.soulcapital {
    position: relative;
    display: inline-block;
}
.intro_img {
    display: block;
    margin: 0 auto;
    margin-top: -40px;
}
.star_intro {
    position: absolute;
    top: -8%;
    left: 28.5%;
    animation: rotate 1.5s linear infinite;
    transform-origin: center; 
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.sc_items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 43px;
    margin: 0 4%;
    overflow-x: hidden;
}
.sc_item {
    display: flex;
    align-items: center;
    gap: 15px;
}
.sc_text {
    font-family: "AkzidenzgroteskproLex";
    font-size: 32px; 
    font-weight: normal;
    color: black; 
}
.circle {
    width: 40px; 
    height: 43px; 
    border: 1px solid black; 
    border-radius: 50%; 
    display: flex; 
    justify-content: center;  
    align-items: center;
    font-family: "AkzidenzgroteskproLex";
    font-size: 32px; 
    font-weight: normal;
    color: black; 
    background-color: white; 
}

/* second section  */
.second {
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.hand1 {
    position: absolute;
    left: 0;
    top: 50%; 
    transform: translateY(-50%); 
}

.hand2 {
    position: absolute;
    right: 0; 
    top: 50%; 
    transform: translateY(-50%);
}
.second_title {
    color: #ffffff;
    text-align: center;
    font-family: 'AkzidenzgroteskproLex';
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    transform-style: preserve-3d;
    font-size: 32px;
    line-height: 60px;
    padding-top: 100px;
}

.emoji_container {
    width: 100%;
    padding: 0 15% 0 15%;
    height: 50vh;
    overflow: hidden;
}


.circle1 {
    position: absolute;
    top: 40%;
    left: 43%;
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 50%;
    animation: moveCircle1 3s infinite linear;
}

.circle1:nth-child(1) {
    animation-name: moveCircle1;
}
.circle1:nth-child(2) {
    animation-name: moveCircle2;
}
.circle1:nth-child(3) {
    animation-name: moveCircle3;
}
.circle1:nth-child(4) {
    animation-name: moveCircle4;
}
.circle1:nth-child(5) {
    animation-name: moveCircle5;
}
.circle1:nth-child(6) {
    animation-name: moveCircle6;
}
.circle1:nth-child(7) {
    animation-name: moveCircle7;
}
.circle1:nth-child(8) {
    animation-name: moveCircle8;
}

@keyframes moveCircle1 {
    0% { transform: translate(0%, 0%); }
    50% { transform: translate(80%, 10%); }
    75% { transform: translate(50%, 90%); }
    75% { transform: translate(10%, 50%); }
    150% { transform: translate(0%, 0%); }
}

@keyframes moveCircle2 {
    0% { transform: translate(10%, 10%); }
    25% { transform: translate(70%, 20%); }
    50% { transform: translate(20%, 80%); }
    75% { transform: translate(90%, 40%); }
    100% { transform: translate(10%, 10%); }
}
